<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm8ov_wvvbJBMN0qaDCTfJNpnfbw6R3bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>881721831294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saturday.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>saturday-a10d6</string>
	<key>STORAGE_BUCKET</key>
	<string>saturday-a10d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881721831294:ios:b4dfbf09e7508b277f4d2f</string>
</dict>
</plist>